@charset "UTF-8";

*{margin: 0; padding: 0;}
html{font-size: 20px; line-height: 1.6;}
body{
  color: #fff;
  background-color: #7eb0d7;
}

a{
  color: rgb(225, 198, 76);
}

.wrap{
  position: relative;
}
.header{height: 400px;
padding: 2rem;}

.main-copy{font-size: 3rem;}

.airstrip{position: absolute;
top: 0;
width: 7px; height: 500px;
margin-top: 400px;
background-color: #fff;
}
.airstrip-a{
  left: 42%;
}
.airstrip-b{
  left: 58%;
}

/* //track */
.airplane-scroll-timeline{
  position: relative;
  /* border: 10px dashed rgb(239, 239, 50); */
  height: calc(4305px + 2000px - 100vh);
  margin: 200px 0 300px;
  z-index: 5;
}

.airplane{
  position: absolute;
  top: 0;
  width: 100px;
  left: 0;
  transform: rotate(180deg);
  will-change: offset-distance;
  offset-distance: 100%;
  offset-rotate: auto 90deg;
  offset-path: path('m523.89,4304.71v-102.65c0-380.2-349.01-699.56-349.01-699.56-444.83-376.4,250.93-486.65,250.93-486.65,444.83-102.65,557.68-250.93,557.68-250.93,283.93-319.37-486.96-646.34-486.96-646.34-258.91-112.16-314.04-296.55-314.04-296.55C-5.24,1295.45,395.39,1206.1,502.03,1255.07c65,29.84,105.64,109.85,90,179.91-35.06,157.03-234.66,151.32-234.66,151.32-287.05,0-340.67-193.9-340.67-193.9-85.15-285.15,215.21-534.18,215.21-534.18,309.81-245.7,291.98-636.53,291.98-636.53V0');
}

.airplane.up{transform: rotate(0deg);}
.airplane.down{transform: rotate(180deg);}


.track{
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
  top: 0;
  width: 1048px;
  will-change: transform;
}
.flight-path{
  fill: none;
  stroke: #fff;
  stroke-width: 7;
  stroke-dasharray: 14;
}

.gallery-timeline{
  position: absolute;
  top: 2350px;
  height: 2000px;
  /* border: 10px dashed darkgreen; */
  left: 3%;
  width: 94%;
}
.gallery-timeline .gallery{
  position: sticky;
  top: 0;
  display: flex;
  width: 350vw;
  align-items: center;
  height: 100vh;
  /* border: 10px dashed darkblue; */
  margin-top: -650px;
  z-index: 10;
  will-change: opacity, transform;
  /* 브라우저에게 애니메이션이 발생할것을 미리 알려줘서 최적화 시킨다. */

}
.gallery-timeline .gallery-item{
  width: 70vw;
}

.gallery-photo{
  width: 50%;
  height: 0;
  padding-top: 50%;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.gallery-timeline .gallery-item img{
  position: absolute;
  left: 0;
  top: 0;
  
  width: 100%;
}


.jeju{
  position: sticky;
  top: 0;
  width: 360px;
  margin: 0 auto;
  padding-top: 340px;
}

.hello-jeju{
  fill: #fff;
  transform-origin: 350px 1500px;
  will-change: transform, opacity;
}

.page-content{
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
  top: 0;
  width: 90%;
  height: 100%;
  line-height: 1.6;
}
.page-content .text-block,
.page-content .text{
  position: absolute;
  width: 50%;
  will-change: transform, opacity;
}